<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>
<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
<body>

    <h1> This is DashBoard</h1>


</body>
  

<%- include('./partials/footer'); -%>