<%- include('./partials/header'); -%>

<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
<head>
<link href="/css/login_style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center flex-column align-items-center p-3 w-25 login-border m-4">
        <h1 class="text-center text-success">Log in </h1>
        
        <form class="form-group text-center p-2" action="/user/login" method="POST">
            <input type="email" name="email" class="form-control m-2" placeholder="Enter your Email">
            <input type="password" name="password" class="form-control m-2" placeholder="Enter your Password">
            <input type="submit" class="btn btn-lg btn-success" value="Login"> <small><a href="/user/register">Register Here</a></small>
        </form>
    </div>
    </div>
</body>
  

<%- include('./partials/footer'); -%>